@import url("https://fonts.googleapis.com/css?family=Lily+Script+One|Raleway:100,300");

:root {
  --Lily: "Lily Script One", cursive;
  --Raleway: "Raleway", sans-serif;
  --primary: #fffafa;
  --secondary: #b85768;
  --accent: #bfb850;
  --support: #6fbe80;
}
html,
body {
  font-size: 100%;
  z-index: 0;
}
header {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  padding: 1rem;
  bottom: 0;
  right: 0;
}

nav {
  margin-top: 1rem;
  flex-grow: 3;
  font-family: var(--Lily);
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--primary);
}
li a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.2rem;
}
li a:visited {
  color: var(--accent);
}
li a:hover {
  color: var(--secondary);
}
#vid1 {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 125%;
  min-height: 125%;
  width: auto;
  height: auto;
  z-index: -99;
  transform: translate(-50%, -50%);
  filter: blur(5px);
}
.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: flex;
  justify-content: space-around;
}
.dropdown-button {
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.dropdown-button:hover {
  color: var(--secondary);
}
.dropdown-button.active {
  color: var(--accent);
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
}
.dropdown-content li {
  opacity: 0;
  text-align: center;
  pointer-events: none;
  white-space: nowrap;
  margin-top: 1.2rem;
  transform: translate(0, -1rem);
  transition: all 0.4s linear 0s;
}
.active .dropdown-content li {
  pointer-events: auto;
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.4s linear 0s;
}
.fancy {
  padding: 0 1rem;
  text-align: center;
  font-family: var(--Raleway);
  color: var(--primary);
  white-space: nowrap;
}
.large {
  font-size: 2.5rem;
  font-weight: 300;
}
.small {
  font-size: 0.8rem;
  font-weight: 100;
}
.whiteout {
  filter: brightness(0) invert(1);
}
.slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center;
}
.slide-right {
  animation-name: slide-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center;
}
.expand {
  animation-name: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: center;
}
.ring:hover {
  border-radius: 5rem;
  animation-name: ring;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@media all and (max-width: 800px) {
  html {
    font-size: 75%;
  }

  img {
    width: 80%;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 75%;
  }
  .dropdown {
    width: 100vw;
  }
}
@keyframes slide-up {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ring {
  0% {
    transform: translate(0, 0);
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary);
  }
  100% {
    transform: translate(0, 0);
    padding: 3rem 6rem;
    border: 0px solid var(--primary);
  }
}
