@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:400,900|Berkshire+Swash|Dosis:300,400|Lily+Script+One|Raleway:100");
:root {
  --Arima: "Arima Madurai", cursive;
  --Berkshire: "Berkshire Swash", cursive;
  --Lily: "Lily Script One", cursive;
  --Dosis: "Dosis", sans-serif;
  --Raleway: "Raleway", sans-serif;
  --primary: #fffafa;
  --secondary: #b85768;
  --accent: #bfb850;
  --support: #6fbe80;
}

body {
  z-index: 0;
}
* {
  box-sizing: border-box;
}

@media all and (max-width: 800px) {
  body {
    font-size: 12px;
  }
  header {
    flex-direction: column;
  }
  .dropdown {
    position: relative;
    width: 100vw;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    align-items: center;
  }
  .active .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media all and (min-width: 801px) {
  .dropdown-button {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
  }
  .active .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  padding: 1rem;
  bottom: 0;
  right: 0;
}
.fancy {
  text-align: center;
  font-family: var(--Raleway);
  color: var(--primary);
}
.large {
  font-size: 3rem;
}
.small {
  font-size: 0.8rem;
}
.logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

nav {
  flex-grow: 3;
  font-family: var(--Lily);
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--primary);
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.whiteout {
  filter: brightness(0) invert(1);
}
.dropdown {
  display: flex;
  justify-content: space-around;
}
.dropdown-button {
  transition: all 0.4s ease-out 0s;
}
.dropdown-button:hover {
  color: var(--secondary);
}
.dropdown-button.active {
  color: var(--accent);
}

.dropdown-content li {
  text-align: center;
  white-space: nowrap;
  margin-top: 1 em;
  transform: translate(0, -0.5em);
}
.active .dropdown-content li {
  transform: translate(0, 0.2em);
}

li a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.2rem;
}
li a:visited {
  color: var(--accent);
}
li a:hover {
  color: var(--secondary);
}

#vid1 {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 125%;
  min-height: 125%;
  width: auto;
  height: auto;
  z-index: -99;
  transform: translate(-50%, -50%);
  filter: blur(5px);
}
